# Logs
logs
*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/e2e

client/node_modules
.DS_Store
client/dist
client/dist-ssr
client/coverage
*.local

client/cypress/videos/
client/cypress/screenshots/
client/test-results/
client/playwright-report/

server/node_modules
server/dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


